*,
*::before,
*::after {
  box-sizing: border-box;
}

// Colors
$color-light: #b4bac5;
$color-dark: "black";
$color-accent: #df7e23;

//Font Sizes
$fs-h1: 5rem;
$fs-h3: 2rem;

@mixin titles-h1 {
  font-size: $fs-h1;
  letter-spacing: 0.5rem;
}

@mixin titles-h3 {
  font-size: $fs-h3;
  letter-spacing: 0.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    @include titles-h1;
  }
  h3 {
    @include titles-h3;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// @media (min-width: 600px) {
//   .App {
//   }
// }
